<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <property name="hibernate.enable_lazy_load_no_trans">true</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.SQLiteDialect</property>

        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.use_query_cache">true</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.jcache.JCacheRegionFactory</property>
        <property name="hibernate.javax.cache.provider">org.ehcache.jsr107.EhcacheCachingProvider</property>
        <property name="hibernate.javax.cache.missing_cache_strategy">create</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>
        <property name="format_sql">false</property>

        <!-- Names the annotated entity class -->
        <mapping class="de.hhu.stups.plues.data.entities.AbstractUnit"/>
        <mapping class="de.hhu.stups.plues.data.entities.Course"/>
        <mapping class="de.hhu.stups.plues.data.entities.ModuleLevel"/>
        <mapping class="de.hhu.stups.plues.data.entities.Group"/>
        <mapping class="de.hhu.stups.plues.data.entities.Info"/>
        <mapping class="de.hhu.stups.plues.data.entities.Level"/>
        <mapping class="de.hhu.stups.plues.data.entities.Log"/>
        <mapping class="de.hhu.stups.plues.data.entities.Module"/>
        <mapping class="de.hhu.stups.plues.data.entities.ModuleAbstractUnitSemester"/>
        <mapping class="de.hhu.stups.plues.data.entities.ModuleAbstractUnitType"/>
        <mapping class="de.hhu.stups.plues.data.entities.ModuleCombination"/>
        <mapping class="de.hhu.stups.plues.data.entities.Session"/>
        <mapping class="de.hhu.stups.plues.data.entities.Unit"/>
    </session-factory>
</hibernate-configuration>
