<?xml version="1.0" encoding="UTF-8"?>
<ModulBaum>
    <% courses.each { course -> %>
    <!-- <%= course.key %> -->
    <b abschl="<%= course.degree %>" stg="<%= course.shortName %>" kzfa="<%= course.kzfa %>" <%= helper.formatCreditPoints(course) %> pversion="<%= course.po %>" name="<%= course.longName %>"><% course.levels.each { level -> %>
<%= helper.traverse(level, 2) %><% } /* course.levels */ %>
    </b><% } /* courses */ %>
</ModulBaum>
